/* Khai báo các giá trị mặc địch */
:root {
    --primary-color: #f65e39;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333; /* Màu chữ chống mỏi mắt khi đọc lâu */
    --border-color: #bdbdbd;
    --header-height: 80px;
    --header-wrapper-height: 47px;
    --primary-font: 1.4rem;
}

* {
    /* kế thừa thuộc tính của thẻ chứa nó */
    box-sizing: inherit;
}

html {
    /* Hack css
    Khi để font-size = 62.5% => 1rem = 10px 
    Vd: 1.2rem = 12px, 1.6rem = 16px
    */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.mt--42 {
    margin-top: 42px !important;
}

.mt--8 {
    margin-top: 8px !important;
}

.mb--12 {
    margin-bottom: 12px !important;
}

.mb--16 {
    margin-bottom: 12px !important;
}

.mb--42 {
    margin-bottom: 42px !important;
}

/* Button css */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 56px;
    height: 36px;
    padding: 0 12px;
    border: none;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 2px;
    color: var(--text-color);
    background-color: var(--white-color);
}

.btn:hover {
    cursor: pointer;
}

.btn.btn--nomal:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
    cursor: default;
    background-color: #c3c3c3;
    color: #777;
}

/* Header css */
.booking-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
}

.is-become-host {
    position: relative;
    padding: 5px 10px;
}

.is-become-host::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fb9236;
    right: 3px;
    top: 3px;
}

.search--outline {
    z-index: 10;
    border-radius: 5px;
    border: 2px solid #dbdbdb;
}

/* Animation */
@keyframes pushUp {
    from {
        transform: translateY(30%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes FaceIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}