.main {
    height: 1500px;
}

/* Header css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: var(--header-height);
    border-bottom: 1px solid #f2f2f2;
}

.header__wrapper {
    display: flex;
    align-items: center;
    height: 70px;
}

.header__logo {
    text-decoration: none;
    background-color: #f5f5f5;

    height: 100%;
    padding: 10px;
    border-radius: 50%;
}

.header__logo:hover .header__logo-icon {
    fill: var(--primary-color);
    transition: all 0.3s;
}

.search-wrapper {
    z-index: 5;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    height: var(--header-wrapper-height);
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
}

.search-field {
    display: flex;
    height: 100%;
}

.booking-field {
    position: relative;
}

.booking-field:nth-child(2)::after,
.booking-field:nth-child(3)::after {
    /* Tip auto căn giữa gạch phân cách */
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 38px;
    border-left: 1px solid #e7e7e7;
    transform: translateY(-50%);
}

.search-input {
    display: none;
}

.search-location {
    position: relative;
    width: 300px;
    font-size: var(--primary-font);
}

.search-location__icon {
    font-size: 1.5rem;
    color: #919191;

    margin-right: 12px;
}

.search-location__input {
    flex-grow: 1;

    padding: 0;
    border: 0;
    outline: none;
    color: var(--text-color);
}

.search-location__input::placeholder {
    color: var(--black-color);
    font-weight: 500;
}

.search-location__input:focus ~ .history {
    display: block;
}

.history {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 598px;

    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);

    animation: FaceIn ease-in 0.2s;
}

.history__heading {
    margin: 0;
    margin-bottom: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
}

.history__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.history__item + .history__item {
    margin-top: 16px;
}

.history__item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}

.history__item-link:hover {
    color: var(--primary-color);
}

.history__item-img {
    border-radius: 5px;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.history__item-info {
    margin-left: 16px;
}

.history__item-header {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.history__item-desc {
    font-size: 1.3rem;
}

.search-date {
    width: 115px;
    font-size: var(--primary-font);
}

.search-date__icon {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 12px;
}

.search-date__btn {
    position: relative;
    min-width: 0;
    padding: 0;
    
    line-height: 36px;
    font-weight: 500;
}

.search-date__btn:hover {
    color: var(--primary-color);
}

/* .search-date__btn:hover ~ .select-calendar-wrapper {
    display: block;
} */

/* Begin calendar */
.select-calendar-wrapper {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: -270px;
    width: 700px;

    background-color: var(--white-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;

    animation: FaceIn ease-in 0.3s;
}

/* .select-calendar-wrapper::after {
    position: absolute;
    content: "";
    top: -20px;
    width: 115px;
    right: 270px;
    height: 30px;
    display: block;
    background-color: #555;
} */

.calendar__action-top {
    
}

.calendar__action-btn {
    z-index: 5;
    position: absolute;
    border: none;
}

.calendar__action-btn-back {
    top: 12px;
    left: 15px;

    width: 38px;
    height: 34px;
    padding: 8px 12px;
    border-radius: 3px;

    color: #82888a;
    background-color: #e6e6e6;
    font-size: 1.5rem;
}

.calendar__action-btn-back:hover,
.calendar__action-btn-next:hover {
    cursor: pointer;
    border: 1px solid #c4c4c4;
}

.calendar__action-btn-next {
    top: 12px;
    right: 15px;

    width: 38px;
    height: 34px;
    padding: 8px 12px;
    border-radius: 3px;

    color: #82888a;
    background-color: #e6e6e6;
    font-size: 1.5rem;
}

.calendar__action-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 15px;
}

.calendar__action-btn-del {
    border: none;
    background-color: var(--white-color);
    padding: 8px;
    font-weight: 500;
    font-size: 1.6rem;
}

.calendar__action-btn-del:hover,
.calendar__action-btn-add:hover {
    cursor: pointer;
    text-decoration: underline;
}

.calendar__action-btn-add {
    border: none;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 8px;
    font-weight: 500;
    font-size: 1.6rem;
}

.calendar-months {
    display: flex;
    width: 100%;
}

.calendar-month {
    padding: 15px;
}

.calendar-month__name {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
    margin: 5px 0 20px 0;
}

.calendar__days {
    display: flex;
    justify-content: space-around;
}

.calendar__day-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color);
}

.calendar-month__table {
    
}

.calendar__week {

}

.calendar__day {
    padding: 0;
}

.calendar__day--empty {

}

.calendar__btn {
    border: none;
    background-color: #e0f2e7;
    color: #26a65b;
    font-size: 1.2rem;
    font-weight: 600;

    width: 43.5px;
    height: 38px;
}

.calendar__btn:hover {
    cursor: pointer;
}

.calendar__btn--disable {
    color: #d1d1d1;
    background-color: #f6f6f6;
}

.calendar__btn--disable:hover {
    cursor: default;
}

.calendar__btn--active {
    color: var(--white-color);
    background-color: #26a65b;
}
/* End calendar */

.search-guest {
    position: relative;
    width: 115px;
    color: var(--text-color);
}

.search-guest:hover,
.search-guest:hover .search-guest__icon {
    cursor: pointer;
    color: var(--primary-color);;
}

/* .search-guest:hover > .search-guest-select {
    display: block;
} */

.search-guest__icon {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 12px;
}

.search-guest__input {
    font-size: var(--primary-font);
    font-weight: 500;
    line-height: 36px;

    min-width: 60px;
    height: 36px;
}

/* Begin search-guest-select wrapper*/
.search-guest-select {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: -80px;

    width: 320px;
    padding: 12px;

    background-color: var(--white-color);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;

    cursor: default;
    animation: FaceIn ease-in 0.3s;
}

.search-guest-select::before {
    position: absolute;
    content: "";
    top: -20px;
    width: 115px;
    left: 80px;
    height: 30px;
    display: block;
}

.select-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-number + .select-number {
    margin-top: 18px;
}

.select-number__info {

}

.select-number__title {
    margin: 0;
    font-size: 1.6rem;
    color: var(--black-color);
    cursor: text;
}

.select-number_desc {
    margin: 5px 0 0 0;
    font-size: 1.2rem;
    color: #7c7c7c;
    cursor: text;
}

.select-number__input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 140px;
}

.select-number__btn {
    background-color: #f5f7fa;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    cursor: pointer;
    border: 1px solid #ced4da;
}

.select-number__btn > i {
    font-size: 1.3rem;
    color: #888a8a;
}

.select-number__btn--enable {
    
}

.select-number__btn--disable {
    opacity: 0.5;
    cursor: default
}

.select-number_text {
    font-size: 1.6rem;
    color: var(--black-color);
    cursor: text;
}

.select-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.select-bottom__del {
    border: none;
    background-color: var(--white-color);
    padding: 4px 4px 0;
    font-weight: 500;
    font-size: 1.6rem;
}

.select-bottom__del:hover,
.select-bottom__add:hover {
    cursor: pointer;
    text-decoration: underline;
}

.select-bottom__add {
    border: none;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 4px 4px 0;
    font-weight: 500;
    font-size: 1.6rem;
}
/* End search-guest-select */

.search-btn {
    margin: 0 6px;
    background-color: #555;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: var(--primary-color);
}

.search-btn__icon {
    font-size: var(--primary-font);
    color: var(--white-color);
}

/* Begin header menu */
.header__menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: var(--header-wrapper-height);
    list-style: none;
}

.menu__item {
    margin-left: 20px;
}

.menu__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--primary-font);
    font-weight: 500;
    line-height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu__item-link:hover {
    color: var(--primary-color);
}

.item__btn {
    position: relative;
    display: flex;
    align-items: center;

    padding: 0 5px;
    min-width: 94px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.item__btn:hover {
    cursor: pointer;
}

.item__btn-img {
    width: 24px;
    margin-right: 6px;
}

.item__btn-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 6px;
}

.item__btn-icon {
    font-size: 1.5rem;
}

.item__btn:hover > .select-country{
    display: flex;
}

.select-country {
    display: none;
    justify-content: space-between;
    position: absolute;
    top: calc(100% + 16px);
    right: 0;

    width: 470px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    border-radius: 3px;

    background-color: var(--white-color);
    animation: pushUp ease-in 0.3s;
}

.select-country::before {
    position: absolute;
    content: "";
    top: -20px;
    width: 90px;
    height: 20px;
    right: 0;   
}

.select-country::after {
    position: absolute;
    content: "";
    top: -10px;
    width: 16px;
    height: 16px;
    right: 30px;
    transform: rotate(45deg);
    background-color: var(--white-color);
    border-top-left-radius: 3px;
    border: 1px solid #d6d6d6;
}

.select-country-bridge {
    z-index: 5;
    position: absolute;
    content: "";
    top: calc(100% + 17px);
    width: 30px;
    height: 18px;
    right: 25px;
    background-color: var(--white-color);        
}

.select-languages__list,
.select-currency__list {
    list-style: none;
    padding: 0;
}

.select-languages__item, 
.select-currency__item {
    width: 210px;
    height: 40px;
}

.select-languages__item + .select-languages__item,
.select-currency__item + .select-currency__item {
    margin-top: 8px;
}

.select-languages__link,
.select-currency__link {
    display: flex;
    align-items: center;
    padding: 10px 0;

    text-decoration: none;
    color: #222;
}

.select-languages__link:hover,
.select-currency__link:hover {
    color: var(--primary-color);
}

.select-languages__link > img {
    width: 16px;
    height: 16px;
}

.select-languages__link > p {
    margin: 0;
    font-size: 1.6rem;
    padding: 0 12px;
}

.select-languages__link > i,
.select-currency__link > i {
    display: none;
}

.select-languages--active > i,
.select-currency--active > i {
    display: block;
}

.select-currency__list {

}

.select-currency__item {

}

.select-currency--active {

}

.select-currency__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
}

.select-currency__desc {
    margin: 0;
    font-size: 1.6rem;
    padding: 0 12px;
}
/* End header css */
