.main {
    height: 1500px;
}

/* Header css */
.header {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: var(--header-height);
    border-bottom: 1px solid #f2f2f2;
    background-color: var(--white-color);
}

.header__wrapper {
    display: flex;
    align-items: center;
    height: 70px;
}

.header__logo {
    text-decoration: none;
    background-color: #f5f5f5;

    height: 100%;
    padding: 10px;
    border-radius: 50%;
}

.header__logo:hover .header__logo-icon {
    fill: var(--primary-color);
    transition: all 0.3s;
}

.search-wrapper {
    z-index: 5;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    height: var(--header-wrapper-height);
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
}

.search-field {
    display: flex;
    height: 100%;
}

.booking-field {
    position: relative;
}

.booking-field:nth-child(2)::after,
.booking-field:nth-child(3)::after {
    /* Tip auto căn giữa gạch phân cách */
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 38px;
    border-left: 1px solid #e7e7e7;
    transform: translateY(-50%);
}

.search-input {
    display: none;
}

.search-location {
    position: relative;
    width: 300px;
    font-size: var(--primary-font);
}

.search-location__icon {
    font-size: 1.5rem;
    color: #919191;

    margin-right: 12px;
}

.search-location__input {
    flex-grow: 1;

    padding: 0;
    border: 0;
    outline: none;
    color: var(--text-color);
}

.search-location__input::placeholder {
    color: var(--black-color);
    font-weight: 500;
}

.search-location__input:focus ~ .history {
    display: block;
}

.history {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 598px;

    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);

    animation: FaceIn ease-in 0.2s;
}

.history__heading {
    margin: 0;
    margin-bottom: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
}

.history__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.history__item + .history__item {
    margin-top: 16px;
}

.history__item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}

.history__item-link:hover {
    color: var(--primary-color);
}

.history__item-img {
    border-radius: 5px;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.history__item-info {
    margin-left: 16px;
}

.history__item-header {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.history__item-desc {
    font-size: 1.3rem;
}

.search-date {
    width: 115px;
    font-size: var(--primary-font);
}

.search-date__icon {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 12px;
}

.search-date__btn {
    position: relative;
    min-width: 0;
    padding: 0;
    
    line-height: 36px;
    font-weight: 500;
}

.search-date__btn:hover {
    color: var(--primary-color);
}

/* .search-date__btn:hover ~ .select-calendar-wrapper {
    display: block;
} */

/* Begin calendar */
.select-calendar-wrapper {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: -270px;
    width: 700px;

    background-color: var(--white-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;

    animation: FaceIn ease-in 0.3s;
}

/* .select-calendar-wrapper::after {
    position: absolute;
    content: "";
    top: -20px;
    width: 115px;
    right: 270px;
    height: 30px;
    display: block;
    background-color: #555;
} */

.calendar__action-top {
    
}

.calendar__action-btn {
    z-index: 5;
    position: absolute;
    border: none;
}

.calendar__action-btn-back {
    top: 12px;
    left: 15px;

    width: 38px;
    height: 34px;
    padding: 8px 12px;
    border-radius: 3px;

    color: #82888a;
    background-color: #e6e6e6;
    font-size: 1.5rem;
}

.calendar__action-btn-back:hover,
.calendar__action-btn-next:hover {
    cursor: pointer;
    border: 1px solid #c4c4c4;
}

.calendar__action-btn-next {
    top: 12px;
    right: 15px;

    width: 38px;
    height: 34px;
    padding: 8px 12px;
    border-radius: 3px;

    color: #82888a;
    background-color: #e6e6e6;
    font-size: 1.5rem;
}

.calendar__action-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 15px;
}

.calendar__action-btn-del {
    border: none;
    background-color: var(--white-color);
    padding: 8px;
    font-weight: 500;
    font-size: 1.6rem;
}

.calendar__action-btn-del:hover,
.calendar__action-btn-add:hover {
    cursor: pointer;
    text-decoration: underline;
}

.calendar__action-btn-add {
    border: none;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 8px;
    font-weight: 500;
    font-size: 1.6rem;
}

.calendar-months {
    display: flex;
    width: 100%;
}

.calendar-month {
    padding: 15px;
}

.calendar-month__name {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
    margin: 5px 0 20px 0;
}

.calendar__days {
    display: flex;
    justify-content: space-around;
}

.calendar__day-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color);
}

.calendar-month__table {
    
}

.calendar__week {

}

.calendar__day {
    padding: 0;
}

.calendar__day--empty {

}

.calendar__btn {
    border: none;
    background-color: #e0f2e7;
    color: #26a65b;
    font-size: 1.2rem;
    font-weight: 600;

    width: 43.5px;
    height: 38px;
}

.calendar__btn:hover {
    cursor: pointer;
}

.calendar__btn--disable {
    color: #d1d1d1;
    background-color: #f6f6f6;
}

.calendar__btn--disable:hover {
    cursor: default;
}

.calendar__btn--active {
    color: var(--white-color);
    background-color: #26a65b;
}
/* End calendar */

.search-guest {
    position: relative;
    width: 115px;
    color: var(--text-color);
}

.search-guest:hover,
.search-guest:hover .search-guest__icon {
    cursor: pointer;
    color: var(--primary-color);;
}

/* .search-guest:hover > .search-guest-select {
    display: block;
} */

.search-guest__icon {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 12px;
}

.search-guest__input {
    font-size: var(--primary-font);
    font-weight: 500;
    line-height: 36px;

    min-width: 60px;
    height: 36px;
}

/* Begin search-guest-select wrapper*/
.search-guest-select {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: -80px;

    width: 320px;
    padding: 12px;

    background-color: var(--white-color);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;

    cursor: default;
    animation: FaceIn ease-in 0.3s;
}

.search-guest-select::before {
    position: absolute;
    content: "";
    top: -20px;
    width: 115px;
    left: 80px;
    height: 30px;
    display: block;
}

.select-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-number + .select-number {
    margin-top: 18px;
}

.select-number__info {

}

.select-number__title {
    margin: 0;
    font-size: 1.6rem;
    color: var(--black-color);
    cursor: text;
}

.select-number_desc {
    margin: 5px 0 0 0;
    font-size: 1.2rem;
    color: #7c7c7c;
    cursor: text;
}

.select-number__input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 140px;
}

.select-number__btn {
    background-color: #f5f7fa;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    cursor: pointer;
    border: 1px solid #ced4da;
}

.select-number__btn > i {
    font-size: 1.3rem;
    color: #888a8a;
}

.select-number__btn--enable {
    
}

.select-number__btn--disable {
    opacity: 0.5;
    cursor: default
}

.select-number_text {
    font-size: 1.6rem;
    color: var(--black-color);
    cursor: text;
}

.select-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.select-bottom__del {
    border: none;
    background-color: var(--white-color);
    padding: 4px 4px 0;
    font-weight: 500;
    font-size: 1.6rem;
}

.select-bottom__del:hover,
.select-bottom__add:hover {
    cursor: pointer;
    text-decoration: underline;
}

.select-bottom__add {
    border: none;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 4px 4px 0;
    font-weight: 500;
    font-size: 1.6rem;
}
/* End search-guest-select */

.search-btn {
    margin: 0 6px;
    background-color: #555;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: var(--primary-color);
}

.search-btn__icon {
    font-size: var(--primary-font);
    color: var(--white-color);
}

/* Begin header menu */
.header__menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: var(--header-wrapper-height);
    list-style: none;
}

.menu__item {
    margin-left: 20px;
}

.menu__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--primary-font);
    font-weight: 500;
    line-height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu__item-link:hover {
    color: var(--primary-color);
}

.item__btn {
    position: relative;
    display: flex;
    align-items: center;

    padding: 0 5px;
    min-width: 94px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.item__btn:hover {
    cursor: pointer;
}

.item__btn-img {
    width: 24px;
    margin-right: 6px;
}

.item__btn-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 6px;
}

.item__btn-icon {
    font-size: 1.5rem;
}

.item__btn:hover > .select-country{
    display: flex;
}

.item__btn:hover > .select-country-bridge {
    display: block;
}

.select-country {
    display: none;
    justify-content: space-between;
    position: absolute;
    top: calc(100% + 16px);
    right: 0;

    width: 470px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    border-radius: 3px;

    background-color: var(--white-color);
    animation: pushUp ease-in 0.3s;
}

.select-country::before {
    position: absolute;
    content: "";
    top: -20px;
    width: 90px;
    height: 20px;
    right: 0;   
}

.select-country::after {
    position: absolute;
    content: "";
    top: -10px;
    width: 16px;
    height: 16px;
    right: 30px;
    transform: rotate(45deg);
    background-color: var(--white-color);
    border-top-left-radius: 3px;
    border: 1px solid #d6d6d6;
}

.select-country-bridge {
    display: none;
    z-index: 5;
    position: absolute;
    content: "";
    top: calc(100% + 17px);
    right: 25px;

    width: 30px;
    height: 18px;
    background-color: var(--white-color);   
    
    animation: pushUp ease-in 0.3s;
}

.select-languages__list,
.select-currency__list {
    list-style: none;
    padding: 0;
}

.select-languages__item, 
.select-currency__item {
    width: 210px;
    height: 40px;
}

.select-languages__item + .select-languages__item,
.select-currency__item + .select-currency__item {
    margin-top: 8px;
}

.select-languages__link,
.select-currency__link {
    display: flex;
    align-items: center;
    padding: 10px 0;

    text-decoration: none;
    color: #222;
}

.select-languages__link:hover,
.select-currency__link:hover {
    color: var(--primary-color);
}

.select-languages__link > img {
    width: 16px;
    height: 16px;
}

.select-languages__link > p {
    margin: 0;
    font-size: 1.6rem;
    padding: 0 12px;
}

.select-languages__link > i,
.select-currency__link > i {
    display: none;
}

.select-languages--active > i,
.select-currency--active > i {
    display: block;
}

.select-currency__list {

}

.select-currency__item {

}

.select-currency--active {

}

.select-currency__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
}

.select-currency__desc {
    margin: 0;
    font-size: 1.6rem;
    padding: 0 12px;
}
/* End header css */


/* Begin home page css */
.home-page {
    margin-top: calc(var(--header-height) + 42px);
}

.banner {
    position: relative;

    width: 100%;
    max-height: 270px;
}

.banner-link {
    
}

.banner-img {
    width: 100%;
    border-radius: 20px;
}

.list-dot {
    position: absolute;
    bottom: 10px;
    right: 35px;

    display: flex;
    list-style: none;
}

.control__btn {
    background-color: transparent;
    border: none;
    padding: 0 4px;
}

.control__icon {
    font-size: 0.9rem;
    opacity: 0.3;
}

.control--active > .control__icon {
    opacity: 0.6;
}

.list-dot__item {

}

.greeting {

}

.greeting__heading {
    margin-bottom: 24px;
    font-size: 2.8rem;
    line-height: 3.2rem;
}

.greeting__desc {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth {
    font-size: 1.6rem;
    color: var(--text-color);
}

.auth__login {
    color: var(--text-color);
}

.auth__regis {
    color: var(--text-color);
}

/* Section css */
.title {
    
}

.title__heading {
    font-size: 2.8rem;
}

.title__desc {
    font-size: 1.5rem;
    line-height: 2.2rem;

    color: var(--text-color);
    margin-bottom: 20px;
}

.slider {
    position: relative;
}

.section__btn-back, .section__btn-next {
    z-index: 5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 56px;
    height: 56px;

    background-color: var(--white-color);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 7px -4px #000;

    cursor: pointer;
}

.section__btn-back:hover > .section__btn-icon, .section__btn-next:hover > .section__btn-icon {
    color: var(--primary-color);
}

.section__btn--disable:hover > .section__btn-icon {
    color: var(--black-color);
}

.section__btn-back {
    left: -15px;
}

.section__btn-icon {
    font-size: 1.8rem;
}

.section__btn-next {
    right: -15px;
}

.section__btn--disable {
    opacity: 0.4;
}

.product {
    position: relative;
    /* width: 228px; */
    height: 286px;
}

.product__link {
    
}

.product__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.product__content {
    position: absolute;
    left: 25px;
    bottom: 20px;
}

.product__content-title {
    color: var(--white-color);
    font-size: 2.5rem;
    margin-bottom: 18px;
}

.product__content-text {
    color: var(--white-color);
    font-size: 1.5rem;
}

/* Endow css */
.title-wrapper {
    display: flex;
    justify-content: space-between;
}

.more-text {
    align-self: flex-end;
    margin-bottom: 20px;
}

.more-link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.slick {
    
}

.slick__link {
    height: 172px;
}

.slick__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Suggest location */ 
.sug-wrapper {
    position: relative;
}

.sug-local {
    text-decoration: none;
}

.sug-local__btn {
    /* top: 90px; */
}

.sug-local__img {
    width: 100%;
    height: 180px;
    border-radius: 3px;
}

.sug-local__content {

}

.sug-local__content > h2 {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    text-transform: uppercase;
}

.sug-local__content > p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--text-color);
    font-weight: 400;
}

/* Suggest discover */
.post {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 244px;

    background: linear-gradient(to bottom, #eee 0%, #7a7a7a 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-decoration: none;
}

.post__heading {
    padding: 24px;
    width: 100%;
}

.post__btn {
    /* min-width: 214px; */
    height: 24px;
    padding: 4px 26px 2px 26px;

    background-color: #bebebe;
    color: var(--white-color);
    border: none;
    border-radius: 20px;

    font-size: 1.3rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 700;
}

.post__btn:hover {
    cursor: pointer;
    background-color: #5f5f5f;
}

.post__title {
    padding: 24px;
    margin: 0;
    font-size: 2.1rem;
    color: var(--white-color);
    line-height: 3.2rem;
    font-weight: 500;
}

/* Tutorial css*/
.tutorial-link {
    height: 180px;
}

.tutorial-img {
    border-radius: 3px;
}

/* App introduce css */
.app-introduce__logo {
    width: 330px;
    height: 72px;
    fill: #222;
}

.app-introduce__heading {
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.app-introduce__desc {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.app-down {
    display: flex;
    margin-top: 46px;
}

.app-down__qr {
    width: 50%;
}

.app-down__img {
    padding: 12px;
    border: 1px solid rgba(0,0,0,.09);
    width: 206px;
}

.app-down__apps {
    width: 50%;
    display: flex;
    align-items: center;
}

.app-down__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.app-down__wrapper > img {
    width: 132px;
    height: 40px;
    margin: 8px 6px;
}

.app-introduce__img {
    max-width: 100%;
    height: auto;
}

/* Home widget css */
.widget {

}

.widget__title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.logo--s {
    max-width: 172px;
    max-height: 36px;
}

.about {
    display: flex;
    margin-bottom: 20px;
}

.about__box {
    margin-right: 10px;
}

.about__icon {

}

.about__content {

}

.about__heading {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 6px;
}

.about__link {
    display: block;
    margin-bottom: 6px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.about__link:hover {
    color: var(--primary-color);
}

.widget__menu {
    list-style: none;
    padding: 0;
}

.widget__menu-item {

}

.widget__menu-link {
    display: block;
    padding: 8px 0;

    text-decoration: none;
    font-size: var(--primary-font);
    color: var(--text-color);
}

.widget__menu-link:hover {
    color: var(--primary-color);
}

.qr-code {
    margin-right: 20px;
}

.qr-code__img {
    padding: 12px;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.09);
    
}

.down-app {
    width: 95px;
    height: 30px;
    margin-left: -12px;
}

.down-app > img {
    max-width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.transaction-title {
    width: 200%;
}

.transaction, .cert, .social {
    padding: 0;
    list-style: none;
    display: flex;
}

.transaction__item {

}

.transaction__img {

}

.cert {
    margin-right: 16px;
}

.cert__item {
    
}

.cert__img {
    max-width: 100%;
    padding-right: 16px;
}

.social__item {

}

.social__link {
    margin-right: 16px;
}

.social__icon {

}
/* End home page css */

/* Footer css */
.footer {
    padding: 24px 15px;
    text-align: center;
    font-size: var(--primary-font);
    line-height: 2.2rem;
    color: #b7b8b7;
    border-top: 1px solid #f2f2f2;
}

.copy-right {
    margin-top: 0;
}

.footer__text {

}
